# Google Cloud
GCP_PROJECT_ID=your-gcp-project-id

# PostgreSQL
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_DB=epra
POSTGRES_USER=your_username
POSTGRES_PASSWORD=your_password

# BigQuery
BIGQUERY_DATASET=epra_raw
BIGQUERY_LOCATION=US